---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ awx_psp_name }}-role-binding
  namespace: {{ kubernetes_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ awx_psp_name }}-role
subjects:
- kind: ServiceAccount
  name: {{ kubernetes_serviceaccount_name }}
  namespace: {{ kubernetes_namespace }}
