---
apiVersion: v1
kind: Service
metadata:
  name: {{ kubernetes_deployment_name }}-web-svc
  namespace: {{ kubernetes_namespace }}
  labels:
    name: {{ kubernetes_deployment_name }}-web-svc
{% if kubernetes_service_annotations is defined %}
  annotations:
{% for key, value in kubernetes_service_annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
spec:
  type: {{ kubernetes_web_svc_type }}
  ports:
    - name: http
      port: 80
{% if kubernetes_web_svc_type == "ClusterIP" %}
      nodePort: null
{% endif %}
      targetPort: 8052
  selector:
    name: {{ kubernetes_deployment_name }}-web-deploy
